body{
    background: rgba(3, 153, 207, 0.911);
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5rem;

    display: grid;
    grid:
        "header header header header" auto
        "...... lists active ....." auto 
        "footer footer footer footer" auto/
        1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;

}

.title{
    grid-area: header;
    text-align: center;
    font-size: calc(5vw + 2rem);
    font-weight: 900;
    color: rgba(255,255,255,0.3);
    margin: 0;
}

.all-tasks{
    grid-area: lists;
}

::placeholder{
    color: inherit;
    opacity: 0.3;
}

.task-list{
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 2;
    list-style: circle;
    color: rgba(255, 255, 255, 0.795);
    padding-left: 1.25em;


}

form{
    display: flex;
}

.btn{
    cursor: pointer;
    background: 0;
    padding: 0;
    color: inherit;
    border: none;
}

.btn.create{
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 0.25em;
    transition: opacity 100ms ease-in;
}

.btn.create:hover{
    opacity: 0.7;
}
.new {
    background: transparent;
    border: 0;
    color: inherit;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding: 0.25em;
    outline: none;
    order: 2;
    transition: border-bottom 100ms ease-in;
}

.new:focus{
    border-bottom-width: 3px;
}

.new:focus::placeholder{
    opacity: 0.4;
}

.active-list{
    font-weight: 900;
    color: white;
    list-style-type: disc;
}

.list-name{
    cursor: pointer;
}

.list-name:hover{
    opacity: 0.7;
}

.active-list:hover{
    opacity: 1;
}


.todo-list{
    grid-area: active;
    background: white;
    color: black;
    box-shadow: 0px 15px 20px 4px rgba(30, 30, 60, 0.22);
}

.list-title{
    margin: 0;
}

.task-count{
    margin: 0;
    font-size: 1rem;
}

.todo-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lightgray;
    padding: 2rem;
}

.todo-body{
    padding: 2rem;
    position: relative;
}

.todo-footer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

.task label{
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.5em;
}

.task::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    height: 2px;
    background: currentColor;  
    opacity: 0.1;
}

.task {
    position: relative;
    white-space: wrap;
}

.custom-checkbox{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid currentColor;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    margin-right: 0.75em;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox{
    transform: scale(1.2);
    color: lightskyblue;
}

[type="checkbox"]:checked + label .custom-checkbox{
    background-color: rgb(0, 155, 252);
    border-color: rgb(0, 155, 252);
    box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label{
    opacity: 0.5;
}

.task label::after{
    content: "";
    position: absolute;
    left: 1.5em;
    right:0;

}

@keyframes strike {
    from { text-decoration-color: transparent; }
    to { text-decoration-color: auto; }
}

[type="checkbox"]:checked + label{
    text-decoration: line-through;
    animation: strike 0.2s linear;
}

.btn.delete{
    font-weight: 600;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.479);

}

.btn.delete:hover{
    color: rgb(150, 18, 18);
    font-weight: 700;
}

.btn.clear{
    font-weight: 600;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.479);

}

.btn.clear:hover{
    color: rgb(0, 0, 0);
    font-weight: 700;
}